button {
	font-size: 40px;
	color: white;
	outline: none;
	border: none;
	padding: 1rem;
	background-color: black;
	cursor: pointer;
}

.primary {
	border: none;
	background-color: black;
	color: white;
}

.secondary {
	border: 2px solid black;
	background-color: transparent;
	color: black;
}
